* {
  list-style: none;
}

html {
  font-family: arial
}
h2 {
  text-align: center;
}

article{
  padding: 10px;
}
footer{
  background-color: #06D6A0;
  color: black;
  padding:1px 0px 10px 0px;
  text-align: right;
}
h3 {
  color: #EF476F;
  text-transform: uppercase;
  display: flex;
  text-align: center;
  float: left;
  width:33.3333%;
}
.navbar {
  background-color: #06D6A0;
  color: white;
  padding:5px 0px 0px 10px;
}
.navbutton {
  text-align: center;
  display: inline-flex;
  float: right;
}
.welcomepage {
  background-color: #26547C;
  color: white;
  display: inline-flex;
  width: 80%;
  margin: 0px 10% 0px 10%;
}

.cats {
  background-color: #FFD166;
  width: 80%;
  margin: 0px 10% 0px 10%;
  padding: 10px;
}

.products {
  background-color: #F2F2F2;
  margin: 0px 10% 0px 10%;
  padding: 10px;
}

.about {
  background-color: #26547C;
  color: white;
  margin: 0px 10% 0px 10%;
  padding: 10px;
}

.buttons {
  display: inline-block;
}

.photos {
  border: 7px solid black;

  width: 33.3333%;
  max-width: 75px;
}
.welcometext {
  text-align: center;
    padding-left: 25px;
}
.copyright {
  padding: 10px;
}
.welcomepage div img {
  max-width: 532px;
}
/*header {
    background-color: #06D6A0;
    padding: 20px;
    text-align: center;
  }*/
