html {
  font-family: arial
}


.navbar {
  background-color: #06D6A0;
  color: white;

}
.navbutton {

}
.welcomepage {
  background-color: #26547C;
  color: white;
}

.cats {
  background-color: #FFD166;
}

.products {
  background-color: #F2F2F2;
}

.about {
  background-color: #26547C;
}
/*header {
    background-color: #06D6A0;
    padding: 20px;
    text-align: center;
  }*/
